h1{
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}
.isim{
    color: rgb(187, 181, 5);
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

hr{
    border: 0;
    height: 5px;
    background: #2c014b;
    margin: 5px 0;
    border-radius: 5px;
}
a { 
    background-color: #4B0082; 
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    text-decoration: none; 
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #8F00FF ;
    
    display: block; 
    width: fit-content; 
    margin: 10px auto;
}

a:hover {
    filter: brightness(120%);
    transition: background-color 0.3s;
}

.instagram-link { background-color: #C13584; }
.tiktok-link { background-color: #69C9D0; }
.spotify-link { background-color: #1DB954; }

